* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-header {
  height: 80vh;
  min-height: 600px;
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  
  z-index: 10;
}
 

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

li {
  list-style: none;
}


header nav ul {
  display: flex;
  font-size: 20px;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
h2{
  color:  hsl(212, 27%, 19%);
}
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-light-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-size: 18px;
}

.contact {
  background-color: white;
  color: black;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact:hover {
  background-color: antiquewhite;
}

.title1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 2em;
  font-weight: bolder;
  color: var(--white);
  font-weight: 800;
  margin-top: 60px;
}

.arrow-img {
  margin-top: 90px;
  animation: jump 1s ease-in infinite alternate;
}

@keyframes jump {
  to {
    transform: translateY(2.5rem);
  }
}

.mobile-nav {
  display: none;
}
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
   .text-row1 h2 {
    font-size: smaller;
    font-weight: 20px;
  } 
  
  .mobile-nav {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 350px;
    margin: auto;
    z-index: 1000;
    border-radius: 8px;
    border-top-right-radius: 1px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 253, 247);
    color: black;
    padding: 10px 0;
  }

  .mobile-nav.show {
    display: block;
  }

  .mobile-nav ul {
    list-style: none;
    padding: 0;
  }

  .mobile-nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .mobile-nav ul li a {
    color: grey;
    text-align: center;
    display: block;
    padding: 10px 20px;
  }

   
  #cont {
    color: black;
  }
}
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav ul li a {
    color: rgb(159, 159, 159);
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 20px;
  }

 
  .contact {
    background-color: hsl(51, 100%, 49%);
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: 30%;
    height: 40px;
    margin: auto;
    text-align: center;
    color: black !important;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
   
   
}

@media (min-width: 380px) and (max-width: 450px) {
  .title1 {
    font-weight: bolder;
    font-size: 1.75em;
    text-align: center;
    margin-top:120px;
  }
  .arrow-img{
    margin-top: 50px;
  }
}
/***********************************************************************************************/
 .section2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0px;
  overflow: hidden;  
}

.text-row1 {
  font-weight: 900;
  padding: 20px;
  font-size: 60px; 
  text-align: left;  
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 40px;  
  text-align: left;
}

.column-desc {
  color:   hsl(213, 9%, 39%);
  font-weight: 600;
  padding: 20px 30px;
  font-size: 19px;  
  margin-bottom: 35px;
  text-align: justify;  
}

.textandphotow-text-row1 {
  width: 50%;
 }

.photoandtext-photo-row {
  width: 50%;
}

.img-one,
.img-two {
  width: 100%;  
  height: auto;
  display: block;
  object-fit: cover; 
}
.underline{ 
   color:   hsl(213, 9%, 39%);
  font-family: "Fraunces", serif;
  font-weight:  800;
}
 .underline-yellow {
  display: inline-block;
  margin-top: 10px;
  color: black; 
  padding: 0px 40px;
 text-decoration-color: var(--yellow);
  text-decoration-thickness: 5px;
} 
.underline-red {   
  display: inline-block;
  margin-top: 10px;
  color: black;
  padding: 0px 40px;
  text-decoration-color: var(--soft-red);
  text-decoration-thickness: 5px;
}
 
 @media (max-width: 450px) {
  .section2 {
    flex-direction: column;
  }

  .textandphotow-text-row1,
  .photoandtext-photo-row {
    width: 100%;
  }
}

@media (max-width: 480px) and (min-width: 375px) {
  .section2 {
    flex-direction: column-reverse;  
  }

  .photoandtext-photo-row,
  .textandphotow-text-row1 {
    width: 100%;
    text-align: center;
  }

  .img-one,
  .img-two {
    width: 100%;
    height: auto;
  }
}
 @media (max-width: 450px) {
  .section2 {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }
}

@media (max-width: 480px) and (min-width: 375px) {
  .section2 {
    flex-direction: column-reverse;  
  }

  .photoandtext-photo-row,
  .textandphotow-text-row1 {
    width: 100%;  
    text-align: center;  
  }
   .img-one {
    width: 100%; 
    height: auto;
  }

  .section2 {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    gap: 0px; 
   }

  .text-row1 {
    font-weight: 40px;
    font-size: 3.5rem;
    text-align:   center; 
      margin: auto;
  }
  

  .overview {
    justify-content: center;
    padding: 40px 10px;
    text-align: center;
  }

  .overview h2 {
    color: var(--desaturated-blue);
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 25px;
    padding: 0px 10px;
    text-align: center;
  }
 

  .column-desc {
    
    font-weight: 600;
    font-size: 17px;  
    margin-bottom: 35px;
    text-align:  center; 
  }

  .underline-yellow {
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 5px;
  }

  .img-two{order: 1;}
}
  

 @media (max-width: 768px) {
  .section2 {
    flex-direction: column;
    text-align: center;
  }

   .section2:nth-child(odd) .photoandtext-photo-row {
    order: -1;  
  }
}
/**************************************************/
.section4 {
  display: flex;
  gap: 0px;   
  
}

  
.box1,.box2 {
  width: 50%; 
  height:  auto;  
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  
}
 .box1{
  background-image: url(./images/desktop/image-graphic-design.jpg);
  color: var(--graphic-design-text);
  background-repeat: no-repeat;
 }
 .box2{ background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;

  color: var(--photography-text);}
.text-header {
 

  text-align: center; 
  padding-top: 20px  ; 
  line-height: 50px;
   font-size: 40px;
     margin-top:340px;

 }
 
 .text-headerr{

  text-align: center; 
  padding-top: 2px  ;  
  font-size: 40px;
  padding-bottom: 30px;
    margin-top:380px;


 }

.text-desc {
  font-size: 1em;
  color: #555;
  padding: 40px 5px;
  text-align: center;
}
.text-descc{  
  font-size: 1em;
  
  text-align: center;

}
 
.offers {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding: 95px 185px;
}


@media (max-width: 450px) and (min-width: 370px) {
  .section4 {
    flex-direction: column;  
  }

  .box1, .box2 {
    width: 100%;
    margin: auto;  
    height: 550px;  
    margin: 0;  
    padding: 0; 
  background-size: cover;  
background-position: center;
}

  .text-header,
  .text-headerr {
     padding:1px 15px;
  }
  .text-descc {
    padding: 25px 2px;
  }
  .text-des{
    padding: 10px 2px;


  }}

/**********************************************************************************************/
.section5 {
  width: 100%;
  height: 900px auto;
   
  clear: both;
 }

.title122 h2 {
  margin: auto;
  width: 100%;
  color: hsl(210, 4%, 67%) !important;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px; 
}

.div3-photo-text {
  display: flex; 
  justify-content: center;  
  align-items: flex-start;  
  gap: 60px; 
   
  margin: auto;
}

.onediv, .twodiv, .threediv {
  text-align: center;
  font-weight: 70px;
  height: 340px;
  width: 22%;
  margin: 0;  
}

.div3-photo-text img {
  width: 100px;  
  height: 100px;  
  border-radius: 50%; 
  object-fit: cover; 
}

.section5-text {
  padding-top: 30px;
  margin-top: 20px;  
  font-size: 16px;  
  font-weight: 200px;
  font: optional;
  font-style: normal;
  color: hsl(0, 0%, 50%) !important;
}

@media (max-width: 480px) {
  .div3-photo-text {
    flex-direction: column; 
    padding: 0;  
    align-items: center; 
  }

  .onediv, .twodiv, .threediv {
    width: 100%;  
    margin: 0;  
  }
}

.client { 
  margin-top: 50px;
}

.client2 {
  margin-top: 35px;
}

.name {
  
  font-family: "Fraunces", serif;
  color: var(--desaturated-blue);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 8px;
}

.occupation {
  color: hsl(0, 0%, 50%);
  font-weight: 600;
}

/********************************/
 .section6{
  width: 100%;
  height: auto;
   display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 0px;
 }
 

.section6 img {
  margin: auto;
  border-image: none;
  width: 325px;  
  height: max-content;
}

 @media (max-width: 450px) and (min-width: 360px) {
  .section6 img {
    width: 50%;  
   
  }
  .section6{
    
    margin-top: 50px;
    
   }
   
}
/*******************footer***************/
 footer {
  background-color: #90d4c5;
  color: var(--footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 70px 0 50px 0;
}

.logo-footer{
  filter: invert(38%) sepia(68%) saturate(342%) hue-rotate(118deg)
    brightness(58%) contrast(92%);
}

.li-footer ul{
 text-align: center;
  display: flex;
  font-weight: 600;
  margin: 30px 0 50px 0;
  padding-left: 0;

}

 .li-footer ul li a{
  padding: 20px;
   color: var(--footer);
 }
 
 .li-footer  :hover{  color: white;}
  /****************************************/
  .icones{
    gap: 10px;
  font-size: 160%;
  }
  
.icones .icon {
  margin-right: 20px;  
}.icon:hover{   cursor: pointer;
  color: white;}